@{
    ViewData["Title"] = "Home Page";
    ViewData["testA"] = "我是 Index.cshtml 裡面的 Razor 的 ViewData";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p style="color: #1b6ec2">@ViewData["testA"]</p>
    <p>@ViewBag.testB</p>
    <p>@ViewData["testC"]</p>
</div>