<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> -- MyLayout -- </title>
        <style>
            .center {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50vh;
            }
        </style>
    </head>
    <body>
        <div style="border: blue thick dashed; text-align: center;">
            @RenderBody()
        </div>
    </body>
</html>