@{
    ViewBag.Title = "新增 User";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

@* <a href="@ViewData["RefererUrl"]">Return to client detail</a> *@
<button type="button" class="btn btn-success btn-sm" style="margin: 1rem;" onclick="location.href='@ViewData["RefererUrl"]'">回前頁</button>

<hr/>

<div style="margin: 1rem;">
    <form action="form1" method="POST">
        <h2>輸入基本資料</h2>
        <div class="form-group">
            <label for="UserName">UserName:</label>
            <input type="text" class="form-control" id="UserName" placeholder="Enter UserName" name="UserName" value="叮噹貓"/>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" value="gg919@hotmail.com"/>
        </div>
        <div class="form-group">
            <label for="age">Age:</label>
            <input type="text" class="form-control" id="age" placeholder="Enter age" name="age" value="23"/>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>